@CHARSET "ISO-8859-1";


/*JQuery connct to div with one line*/
#svgContainer {
  z-index: -10;
  position: absolute;
  background-color: gray;
  opacity: 0.5;
}

body {
  background-color: gray;
}
/*div {
  opacity: 0.6;
}*/
#outer {
  margin: 20px 20px 20px 20px;
  width: 500px;
}

#ebene1 {
  margin: 10px 10px 10px 10px;
  position: absolute;
  top: 500px;
  bottom: 20px;
  left: 20px;
  right: 500px;
}
.person {
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: medium;
  margin: 10px 10px 10px 10px;
}

#person_1 {
  position: absolute;
  top: 10px;
  left: 100px
  
  /*bottom: 10px*/
}

#person_2 {
  position: absolute;
  top: 200px;
  left: 10px;
  bottom: 10px
}

#person_3 {
  position: absolute;
  left: 200px;
  top: 200px;
  bottom: 10px;
}

#person_4 {
  position: absolute;
  left: 300px;
  top: 10px;
}
/*#red {
  width: 5em;
  height: 5em;
  border-style: solid;
  border-width: medium;
}
#aqua {
  width: 5em;
  height: 5em;
  border-style: solid;
  border-width: medium;
}*/




/*body {
	background-color: lightblue;
}*/

/*#peronely {
	background-color: green;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}
#techonlogy{
	background-color: red;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}  
#kompetenz {
	background-color: yellow;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}

#konfigurator{
	background-color: lightblue;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}

#footer{
	background-color: lightblue;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}*/





#content{
  position:relative;
}
.mydiv{
  border:1px solid #368ABB;
  background-color:#43A4DC;
  position:absolute;
}
.mydiv:after{
  content:no-close-quote;
  position:absolute;
  top:50%;
  left:50%;
  background-color:black;
  width:4px;
  height:4px;
  border-radius:50%;
  margin-left:-2px;
  margin-top:-2px;
}
#div1{
  left:200px;
  top:200px;
  width:50px;
  height:50px;
}
#div2{
  left:20px;
  top:20px;
  width:50px;
  height:40px;
}
#line{
  position:absolute;
  width:2px;
  margin-top:-1px;
  background-color:red;
}  